@font-face {
    font-family: 'Grotesk-Regular';
    src: url('assets/SpaceGrotesk-Regular.ttf') format('truetype');
}

body {
    font-family: "Grotesk-Regular";
    font-style: normal;
    font-weight: 400;
    background: #f0f0f0;
    color: #0f0f0f;
    overflow-x: hidden
}

#learn-more-link a {
    color: #f0f0f0;
}

a {
    text-decoration: none;
    color: #0f0f0f;
}


html {
    font-size: 24px
}

h3 {
    font-size: 18px;
    font-weight: 600;
    font-family: "Grotesk-Regular";

}

h4 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Grotesk-Regular";

}

/*nav*/
nav {
    position: absolute;
    top: 0;
}

/*nav: menu for myths (about page)*/

.menu {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #eb4646;
    color: black;
    left: calc(100% - 300px);
    text-align: left;
    transform: translateX(250px);
    transition: all 0.2s ease-in;
    z-index: 80;
}

.menu.open {
    transform: translateX(0);
}

.menu ul {
    list-style-type: none;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/*nav: menu for learn more (about page)*/
.menu2 {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: black;
    color: #f0f0f0;
    left: calc(100% - 300px);
    text-align: left;
    transform: translateX(280px);
    transition: all 0.2s ease-in;
    z-index: 80;
}

.menu2.open {
    transform: translateX(0);
}

.menu2 a {
    color: #f0f0f0;
}

.menu2 ul {
    list-style-type: none;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}

/*nav: menu for myths (learn more page)*/
.menu4 {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #eb4646;
    color: black;
    right: calc(100% - 300px);
    text-align: left;
    transform: translateX(-250px);
    transition: all 0.2s ease-in;
    z-index: 80;
}

.menu4.open {
    transform: translateX(0);
}

.menu4 ul {
    list-style-type: none;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}

/*nav: menu for about (learn more page)*/
.menu3 {
    position: fixed;
    height: 100vh;
    width: 300px;
    background-color: #f0f0f0;
    color: black;
    right: calc(100% - 300px);
    text-align: left;
    transform: translateX(-280px);
    transition: all 0.2s ease-in;
    z-index: 80;
}

.menu3.open {
    transform: translateX(0);
}

.menu3 ul {
    list-style-type: none;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    opacity: 0.5;
    z-index: -20;
}

/*about page*/
.content-about {
    padding-left: 12px;
    padding-right: 100px;
}

/*home page*/

.pages {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
}

.pages .ctn-page {
    height: 100%;
    position: absolute;
    width: calc(100% - 60px);
    padding-left: 20px;
    font-family: "Grotesk-Regular"
}

.pages .ctn-page:first-child {
    background: #f0f0f0
}

.pages .ctn-page:nth-child(2) {
    left: calc(100%/3);
    background: #eb4646;
    color: #0f0f0f
}

.pages .ctn-page:nth-child(3) {
    left: calc(100%/3*2);
    background: #0f0f0f;
    color: #f0f0f0
}

/*myths page*/
#myth-1 {
    position: fixed;
    padding: 20px;
    left: 11%;
    top: 35%;
    transform: rotate(10deg);

}

#myth-2 {
    position: fixed;
    padding: 20px;
    right: 20%;
    top: 8%;
    transform: rotate(-45deg);

}

#myth-3 {
    position: fixed;
    padding: 20px;
    right: 8%;
    top: 57%;
    transform: rotate(10deg);

}

#myth-4 {
    position: fixed;
    padding: 20px;
    left: 11%;
    top: 60%;
    transform: rotate(-10deg);

}

#myth-5 {
    position: fixed;
    padding: 20px;
    left: 20%;
    top: 10%;
    transform: rotate(45deg);
}

#myth-6 {
    position: fixed;
    padding: 20px;
    right: 9%;
    top: 35%;
    transform: rotate(-10deg);
}

#placeholder-myth1 {
    position: fixed;
    padding: 20px;
    right: 38%;
    top: 0%;
    transform: rotate(90deg);
    background-image: linear-gradient(#FFC3F2, #FFFFFF);
    filter: drop-shadow(8px 8px 10px white);
    border: 0px;

}

#placeholder-myth2 {
    position: fixed;
    padding: 20px;
    right: 38%;
    top: 97%;
    transform: rotate(90deg);
    background-image: linear-gradient(#FFC3F2, #FFFFFF);
    filter: drop-shadow(8px 8px 10px white);
    border: 0px;

}

#placeholder-myth3 {
    position: fixed;
    padding: 20px;
    left: 20%;
    top: 85%;
    transform: rotate(135deg);
    background-image: linear-gradient(#FFC3F2, #FFFFFF);
    filter: drop-shadow(8px 8px 10px white);
    border: 0px;

}

#placeholder-myth4 {
    position: fixed;
    padding: 20px;
    right: 18%;
    top: 84%;
    transform: rotate(-135deg);
    background-image: linear-gradient(#FFC3F2, #FFFFFF);
    filter: drop-shadow(8px 8px 10px white);
    border: 0px;

}

/*
.truth-container-first {
    margin: auto;
    border-radius: 50%;
    margin-top: 6%;
    display: none;
    background-image: linear-gradient(#FFC700, #FF7A00);
    color: #0f0f0f;
    position: relative;
    padding: 50px;
    width: 18em;
    height: 18em;
    line-height: 1.4em;


}
*/
.truth-container {
    margin: auto;
    border-radius: 50%;
    margin-top: 6%;
    display: none;
    background-image: linear-gradient(#FFC700, #FF7A00);
    color: #0f0f0f;
    position: relative;
    padding: 50px;
    width: 18em;
    height: 18em;
    line-height: 1.4em;


}


.myths {
    background: #eb4646;
    color: #0f0f0f;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    padding-bottom: 5em;
    padding-left: 20px
}

.myth-container {
    position: relative;
    width: 300px;
    text-align: center;
    line-height: 1.4em;
    margin: 40px auto;
    border: 2px solid #0f0f0f;
    border-radius: 50%;
    font-family: sans-serif;
    padding: 20px;
    font-size: large;
    background-color: #eb4646;
    /*        filter: drop-shadow(8px 8px 10px white);*/
}

/*resources page*/
.resources {
    background: #0f0f0f;
    color: #f0f0f0;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding-bottom: 10em;
    bottom: 0p;
}

.content-resources {
    font-family: "Grotesk-Regular";
    text-align: right;
    padding-right: 80px;
    position: relative
}

.resource ul {
    list-style-type: none;
    font-family: "Grotesk-Regular";
    font-weight: 300;
    font-size: 16px;
    line-height: 4em;
    position: relative
}

.resource li a {
    color: #f0f0f0;
    text-decoration: none;
    display: block;
    position: relative
}

.resource li a:hover {
    color: #eb4646;
    filter: drop-shadow(16px 16px 10px white);
}
